h1{
    color: rgb(19, 69, 131);
    font-family: active;
    font-size: 90px;
    margin: 0px;
    padding: 0px;
}
h2{
    color:rgb(48, 88, 135);
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(20, 32, 45);
    color: rgb(156, 173, 241);
    margin: 0px;
    padding: 0px;

}
header{
    background: rgb(207, 220, 241);
}
footer{
    background: black;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
li{
    background: white;
    display: inline-block;
    margin: 0 20px;
}