@font-face {
    font-family: jamesStroker;
    src: url(fonts/JamesStroker-jEZMO.woff);
}
@font-face {
    font-family: berlin;
    src: url(fonts/BRLNSR.woff);
}
*{
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
    font-family: berlin;
    color: #134583;
    background-color: rgb(229, 238, 246);
}
.logo img{
    display: inline-block;
    width: 80px;
    margin-top: 10px;
    margin-right: 5px;
}
h1 a{
    display: inline-block;
    font-family: jamesStroker;
    font-size: 70px;
    text-decoration: none;
    margin-top: 20px;
}
h2{
    display: inline-block;
    font-size: 25px;
    position: relative;
    bottom: 8px;
}
header{
    text-align: center;
    padding-bottom: 10px;
    margin: 0 20px;
}
header ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav_list{
    max-width: 1000px;
    margin:  0 auto;
    border-color: #134583;
    border-style: solid;
    border-radius: 7px;
    border-width: 3px;
    box-shadow: 0px 1px 1px 1px rgb(178, 201, 208);
    
}
.nav_list li{
    width: 100%;
    font-size: 25px;
    color:#134583;
}
.nav_list li a{
    text-decoration: none;
    color: #134583;
    display:block;
}
.nav_list li:hover a{
    background-color: #134583;
    color:  rgb(229, 238, 246);;
}
.nav_list li.active a{
    background-color:#134583;
    color: rgb(229, 238, 246);
}
.nav_list:first-child{
    padding-left: 20px;
}
.nav_list:last-child{
    padding-right: 20px;
}
body section{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
}
body section h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}
body section p{
    display: flexbox;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(4, 2, 55);
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 20px;
}
.aboutMeKirby img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 200px;
}
.project_link a{
    display: block;
    text-align: center;
    background-image: url(images/RogueRodentScreenshot1.png);
    background-size: 120%;
    background-position-x: 80%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right:auto;
    width: 700px;
    height: 370px;
    color: white;
    text-decoration: none;
    font-size: 40px;
    line-height: 370px;
    border-radius: 10px;
    text-shadow: 4px 0 2px black, -4px 0 2px black, 0 4px 2px black, 0 -4px 2px black, 4px 4px 2px black, -4px -4px 2px black, 4px -4px 2px black, -4px 4px 2px black;
}
#rogue_rodent a{
    background-image: url(images/RogueRodentScreenshot1.png)
}
#ppp a{
    background-image: url(images/PPPScreenshot.png);
    background-size: 130%;
}
#tok a{
    background-size: 110%;
    background-image: url(images/tk.png);
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h4{
    text-align: center;
    font-size: 30px;
}
body section ul{
    margin-left: 40px;
}
body section ul li{
    display: flexbox;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(4, 2, 55);
    font-size: 23px;
    line-height: 35px;
}
.gallery{    
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 800px;
}
.gallery figure{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/*Gallery 2*/

.gallery2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}
.grid-container{
    columns: 3 250px;
    column-gap: 10px;
    width: 100%;
    margin: 0 auto;
}
.grid-container div{
    width: 200px;
    margin: 3px;
    display: inline-block;
    width: 100%;
    padding: 0px;
    border-radius: 3px;
}
.grid-container div img{
    width: 100%;
    border-radius: 3px;
}
footer{
    background: black;
}